<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mini ERP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="pagina-login">
        <section class="caixa-login">
            <h1>Mini ERP</h1>
            <p>Acesse o sistema</p>

            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% for categoria, mensagem in mensagens %}
                    <div class="mensagem {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endwith %}

            <form method="POST">
                <label for="email">E-mail:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                >

                <label for="senha">Senha:</label>
                <input
                    type="password"
                    id="senha"
                    name="senha"
                    required
                >

                <button type="submit">Entrar</button>
            </form>
        </section>
    </div>
</body>
</html>